<div class="jarallax"
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/city13.jpg); background-attachment: fixed; height: 100%;">
    <div class="container">
        <div class="d-flex align-items-center d-flex justify-content-center" style="height: 600px">
            <div class="row mt-5">
                <div class="col-md-12 wow fadeIn mb-3">
                    <div class="intro-info-content text-center">
                        <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">IT <a
                                class="indigo-text">HUB</a>
                        </h2>
                        <h5>development & business</h5>
                        <a mat-stroked-button color="light-blue">About us</a>&nbsp;&nbsp;
                        <a mat-stroked-button color="light-blue">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-12 text-center mb-5">
            <h2 class="h1 font-bold light-blue-text my-5">IT Tower Karimnagar wikipedia</h2>
            <p align="justify" style="color: #909497;">The State’s plans to open up Karimnagar to information technology
                (IT) industries inched closer to completion as a new IT tower in the district is now ready for
                occupation.

                TS Planning Board Vice-Chairman B Vinod Kumar; BC Welfare Minister Gangula Kamalakar; MCK Mayor Y Sunil
                Rao; and other officials inspected the tower on Monday. IT Minister KT Rama Rao will inaugurate the
                tower on February 18.

                The five-storey tower can accommodate 15 companies, which are asked to reserve 80 per cent of their jobs
                for locals, said Kamlakar. Around 3,000 employees may be able to work in the tower. Apart from the
                spaces for the companies, the remaining space will be used as a common area.

                “Initially, around 12 companies had signed a memorandum of understanding (MoU) with the government to
                book a space in the tower. Later, 28 IT companies approached the government to book a space as they are
                attracted to the incentives offered in Karimnagar,” said Kamalakar The facilities are better than those
                offered in other states, he added.

                Kamalakar further said that this development is possible due to CM K Chandrasekhar Rao’s affection
                towards Karimnagar. “CM’s intention is to decentralise administration and develop tier-two cities,” he
                said.</p>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>

<div class="view intro jarallax" style="background-image: none; z-index: 0; min-height: 20%;">
    <div class="full-bg-img mask rgba-white-light">
        <div class="container flex-center">
            <div class="row mt-5 py-5">
                <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
                    <div class="text-center">
                        <h2 class="h1 display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">AJAY'S <a
                                class="white-text font-bold">BLOG</a>
                        </h2>
                        <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" class="wow slideInLeft"
                            data-wow-duration="2s" data-wow-delay="5s">Software devoloper &
                            Nature
                            lover</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<section class="my-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="boxshodow">
        <img class="img-fluid" src="../../../assets/ajay.jpg" alt="Sample image">
      </div>
    </div>
    <div class="col-lg-8">
      <a href="http://vitasoft.in/">
        <h6 class="font-weight-bold mb-3"><mat-icon>place</mat-icon>Vita technologies</h6>
      </a>
      <h3 class="font-weight-bold mb-3"><strong>Ajay Radharapu</strong></h3>
      <p><strong>Software Devoloper</strong></p>
      <p style="font-family: 'Courier New', Courier, monospace">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
        placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.</p>
    </div>
  </div>
  <hr class="my-5">
</section>
</div>