<mat-toolbar color="">
    <mat-toolbar-row>
        <mat-icon>apartment</mat-icon>
        <span>IT HUB</span>
        <span class="spacer"></span>
    <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active">Home</button>
    <button mat-button [routerLink]="['/adminLogin']" routerLinkActive="router-link-active">admin</button>
    <button mat-button [routerLink]="['/companyLogin']" routerLinkActive="router-link-active">company</button>
    <button mat-button [routerLink]="['/employeeLogin']" routerLinkActive="router-link-active">employee</button>
    </mat-toolbar-row>
</mat-toolbar>